<div class="row columns">
  <button md-fab class="close-button-pos" (click)="close()" color="primary">
    <md-icon>close</md-icon>
  </button>
</div>

<div class="header">
  <h3 style="margin: 5px; color: #3f51b5">
    {{chunks!=null?'Freie':'Keine freien'}} Parkplätze am {{datum}}
  </h3></div>

<div class="row columns">
  <table>
    <tr *ngFor="let chu of chunks">
      <td *ngFor="let slot of chu" [class]="slot.pId>0 ? 'green':''" style="text-align: center">
        <div *ngIf="slot.pId>0" (click)="slotClick(slot)">{{slot.pId}}</div>
      </td>
    </tr>
  </table>
</div>
