<div class="centered-content">
  <h3>Nutzerverwaltung</h3>
</div>

  <div class="row columns">
    <table>
      <tr><th class="text_col">Email</th><th class="number_col">Parkp.</th><th class="number_col">Aktiv</th><th class="number_col">Buchungsv.</th><th class="number_col">Benutzerv.</th><th class="number_col">Übernehmen</th></tr>
      <tr *ngFor="let i of userArray">                        
        <td>{{i.email}}</td>
        <td>{{i.parkId}}</td>
        <td>{{i.isActive}}</td>
        <td>{{i.isBuchungsAdmin}}</td>
        <td>{{i.isUserAdmin}}</td>
        <td><button >Apply</button></td>
      </tr>
    </table>  
  </div>



  
  <!--md-datepicker #vonPicker>PICK1</md-datepicker>
  <input [mdDatepicker]="bisPicker">
  <md-datepicker #bisPicker>PICK2</md-datepicker>
</div-->