<md-tab-group #tabGroup>
  <md-tab label="Login">
    <div class="row columns">
      <p>Email</p>
      <input type="text" [(ngModel)]="user_email">
      <p>Password</p>
      <input type="password" [(ngModel)]="user_password">
      <div [innerHTML]="innerHtmlString"></div>
    </div>
  </md-tab>
  <md-tab label="Register">
    <div class="row columns">
      <p>Email</p>
      <input type="text" [(ngModel)]="user_email">
      <p>Password</p>
      <input type="password" [(ngModel)]="user_password">
    </div>
  </md-tab>
</md-tab-group>
<div class="row columns">
  <a (click)="onPasswordReset()">Passwort vergessen?</a>
</div>
<div class="centered-content" style="margin-top: 10px">
  <button *ngIf="tabGroup.selectedIndex==0 && !success" md-raised-button (click)="login()">Login</button>
  <button *ngIf="tabGroup.selectedIndex==1 && !success" md-raised-button (click)="register()">Register</button>
  <button *ngIf="success" md-raised-button>Ok, cool!</button>
</div>
