.green {
  background-color: #64cf53;
  border-radius: 4px;
  transition: background-color 0.3s;
  color: white;
}

.red {
  background-color: #de4e4e;
  border-radius: 4px;
  transition: background-color 0.3s;
  color: white;
}

.yellow {
  background-color: #FFC107;
  border-radius: 4px;
  transition: background-color 0.3s;
  color: white;
}

.blue {
  background-color: #2196F3;
  border-radius: 4px;
  transition: background-color 0.3s;
  color: white;
}

.gray {
  background-color: gray;
  border-radius: 4px;
  transition: background-color 0.3s;
  color: white;
}

.magic-button-pos {
  top: auto !important;
  right: 20px !important;
  bottom: 20px !important;
  left: auto !important;
  position: fixed !important;
  background-color: #64cf53;
}

.legende {
  min-height: 20px;
  min-width: 20px;
  margin-right: 20px;
  border-radius: 4px;
}

.color-green {
  background-color: #64cf53;
}

.color-yellow {
  background-color: #FFC107;
}

.color-red {
  background-color: #de4e4e;
}

.color-blue {
   background-color: #2196F3;
 }

