<div *ngIf="mietDay==null;else mietDayContent">
  <div class="row columns">
    <md-input-container style="flex:2">
      <input mdInput [(ngModel)]="changeMail"/>
    </md-input-container>
    <button md-button color="primary" (click)="changeUser()" style="flex:1">Change User</button>
  </div>

  <div class="centered-content" style="margin-top: 10px; color: var(--myYellow)">
    <button (click)="zurueck()">
      <md-icon class="md-24" color="primary">fast_rewind</md-icon>
    </button>
    <h3 [innerHTML]="woche_von_bis" style="margin: 5px; color: #3f51b5">Kalender-Woche</h3>
    <button (click)="weiter()">
      <md-icon class="md-24" color="primary">fast_forward</md-icon>
    </button>
  </div>
  <div class="row columns">
    <table>
      <tr>
        <th>Mon</th>
        <th>Die</th>
        <th>Mit</th>
        <th>Don</th>
        <th>Frei</th>
      </tr>
      <tr *ngFor="let week of weeks">
        <td *ngFor="let day of week" (click)="dayClick(day)" [class]="parkplatzColor(day.state)"
            style="text-align: center">
          <div>{{formatDate(day)}}</div>
          <div>{{info(day).length>0?info(day):'&nbsp;'}}</div>
        </td>
      </tr>
    </table>
  </div>
</div>
<ng-template #mietDayContent>
  <app-choose-spot [day]="mietDay" (onClose)="chooseSlotClosed()"></app-choose-spot>
</ng-template>

