<div *ngIf="mietDay==null;else mietDayContent">
  <button *ngIf="store.mieter" md-fab class="magic-button-pos" (click)="magic()" color="primary">
    M
  </button>

  <div *ngIf="this.store.benutzerAdmin">
    <div class="row columns">
      <md-input-container style="flex:2">
        <input mdInput [(ngModel)]="changeMail"/>
      </md-input-container>
      <button md-button color="primary" (click)="changeUser()" style="flex:1">Change User</button>
    </div>
    <div class="row columns">
      {{this.store.oververviewUser.email}}
    </div>
  </div>

  <div class="centered-content" style="margin-top: 10px; color: var(--myYellow)">
    <button (click)="zurueck()" style="cursor: pointer">
      <md-icon class="md-24" color="primary">fast_rewind</md-icon>
    </button>
    <h3 [innerHTML]="woche_von_bis" style="margin: 5px" color="primary">Kalender-Woche</h3>
    <button style="cursor: pointer;" (click)="weiter()">
      <md-icon class="md-24" color="primary">fast_forward</md-icon>
    </button>
  </div>
  <div class="row columns">
    <table>
      <tr>
        <th>Mon</th>
        <th>Die</th>
        <th>Mit</th>
        <th>Don</th>
        <th>Frei</th>
      </tr>
      <tr *ngFor="let week of weeks">
        <td *ngFor="let day of week" (click)="dayClick(day)" [class]="parkplatzColor(day.state)"
            style="text-align: center;cursor: pointer">
          <div>{{formatDate(day)}}</div>
          <div>{{info(day).length>0?info(day):'&nbsp;'}}</div>
        </td>
      </tr>
    </table>
    <md-list>
      <md-list-item>
        <div class="legende color-green"></div>
        {{store.vermieter ? 'Parkplatz Eigennutzung' : 'Parkplatz gebucht'}}
      </md-list-item>
      <md-list-item>
        <div class="legende color-yellow"></div>
        {{store.vermieter ? 'Parkplatz freigegeben' : 'Parkplätze verfügbar'}}
      </md-list-item>
      <md-list-item>
        <div class="legende color-red"></div>
        {{store.vermieter ? 'Parkplatz belegt' : 'Keine Parkplätze verfügbar'}}
      </md-list-item>
    </md-list>
  </div>
</div>
<ng-template #mietDayContent>
  <app-choose-spot [day]="mietDay" (onClose)="chooseSlotClosed()"></app-choose-spot>
</ng-template>

