<!--p-accordion>
    <p-accordionTab header="Header 1">
       Content 1
    </p-accordionTab>
    <p-accordionTab header="Header 2">
        Content 2
    </p-accordionTab>
    <p-accordionTab header="Header 3">
        Content 3    
    </p-accordionTab>
</p-accordion-->
<div class="centered-content">
  <h3>Übersicht Buchungen</h3>
</div>

<div class="centered-content">
  <md-select placeholder="Jahr" [(ngModel)]="myYear" (change)="onYearChanged()">    
    <md-option *ngFor="let year of yearValues" [value]="year">{{year}}</md-option>  
  </md-select>

  <md-select placeholder="Monat" [(ngModel)]="myMonth" (change)="onMonthChanged()">    
    <md-option *ngFor="let month of monatNamen" [value]="month">{{month}}</md-option>  
  </md-select>

  <button md-raised-button (click)="onGoButton()">GO!</button>    
  
</div>
<br>
<div class="row columns">
  
    <table>
      <tr><th class="number_col">Datum</th><th class="text_col">Kontakt</th></tr>
      <tr *ngFor="let i of buchungsArray">                
        <td>{{i.datum}}</td>
        <td>{{i.text}}<div [innerHTML]="i.partner">!!</div></td>        
      </tr>
    </table>  
  </div>
<!--p *ngFor="let bk in buchungValues">{{bk.mieter}}</p-->

<!--div *ngFor='#key of yearKeys'>
    <h3>{{dataObject[key].someProperty}}</h3>
    <p>{{dataObject[key].anotherPropery}}</p>
</div-->
