<md-toolbar color="primary" style="flex-wrap: wrap; padding-left: 8px">
  <button md-icon-button (click)="sidenav.open()" style="cursor:pointer">
    <md-icon class="md-24">menu</md-icon>
  </button>
  <span style="margin-left:10px">
      Parkplatztool
    </span>
  <span style="flex: 1 1 auto;"></span>
  <img src="assets/deka-colored32.svg" class="deka-logo">
  <!--<img src="assets/deka-colored.svg" class="deka-logo">-->
  <span style="font-size: medium; margin-top: 10px" class="hide-for-small-only">
    IT ENTWICKLUNG LUX
  </span>
  <span style="margin-right: 8px">
    &nbsp;
  </span>
  <md-toolbar-row *ngIf="user!=null" style="height:40px">
    <span style="font-size:medium; margin-left: 14px">{{user.email}}</span>
    <span style="flex: 1 1 auto;"></span>
    <button style="padding-right: 0" md-button (click)="logout()">Logout</button>
  </md-toolbar-row>
</md-toolbar>

<md-sidenav-container>

  <md-sidenav #sidenav>
    <md-list>
      <md-list-item (click)="setContent('overview')">Übersicht</md-list-item>
      <md-list-item (click)="setContent('buchungen')">Buchungen</md-list-item>
      <md-list-item *ngIf="store.buchungsAdmin" (click)="setContent('auswertung')">Auswertung</md-list-item>
      <md-list-item *ngIf="store.buchungsAdmin || store.benutzerAdmin" (click)="setContent('verwaltung')">Verwaltung
      </md-list-item>
      <md-list-item *ngIf="store.buchungsAdmin" (click)="setContent('kalender')">Jahresübersicht</md-list-item>
    </md-list>
  </md-sidenav>

  <div [ngStyle]="{'min-height': 'calc(100vh - 96px)'}">
    <app-login *ngIf="user==null"></app-login>
    <app-overview *ngIf="user!=null && content=='overview'"></app-overview>
    <kalender-component *ngIf="user!=null && content=='kalender'" #kalender>Yo!</kalender-component>
    <buchungen-component *ngIf="user!=null && content=='buchungen'" #buchungen></buchungen-component>
    <auswertung-component *ngIf="user!=null && content=='auswertung'" #auswertung>Yo!</auswertung-component>
    <app-verwaltung *ngIf="user!=null && content=='verwaltung'"></app-verwaltung>
  </div>
</md-sidenav-container>
