<md-toolbar color="primary" style="flex-wrap: wrap">
  <div style="flex:1">
    <button md-icon-button (click)="sidenav.open()">
      <md-icon class="md-24">menu</md-icon>
    </button>
    Parkplatztool
  </div>
  <md-toolbar-row *ngIf="user!=null" style="height:40px">
    <span style="font-size:medium">{{user.email}}</span>
    <span style="flex: 1 1 auto;"></span>
    <button md-button (click)="logout()">Logout</button>
  </md-toolbar-row>
</md-toolbar>

<md-sidenav-container>

  <md-sidenav #sidenav>
    <md-list>
      <md-list-item (click)="setContent('overview')">Übersicht</md-list-item>
      <md-list-item (click)="setContent('kalender')">Kalender</md-list-item>
      <md-list-item (click)="setContent('buchungen')">Buchungen</md-list-item>
      <md-list-item (click)="setContent('auswertung')">Auswertung</md-list-item>
      <md-list-item (click)="setContent('verwaltung')">Verwaltung</md-list-item>
    </md-list>
  </md-sidenav>

  <div>
    <app-login *ngIf="user==null"></app-login>
    <app-overview *ngIf="user!=null && content=='overview'"></app-overview>
    <kalender-component *ngIf="user!=null && content=='kalender'" #kalender>Yo!</kalender-component>
    <buchungen-component *ngIf="user!=null && content=='buchungen'" #buchungen></buchungen-component>
    <auswertung-component *ngIf="user!=null && content=='auswertung'" #auswertung>Yo!</auswertung-component>
    <app-verwaltung *ngIf="user!=null && content=='verwaltung'"></app-verwaltung>
  </div>
</md-sidenav-container>
