<button (click)="emailTesten()" > Test-Email an {{userEmail}} </button>
<p>Initialbefüllung</p><input name="myFile" type="file"  (change)="handleFileSelect($event)" accept=".csv">

<div class="centered-content" style="margin-top: 10px">
  <h3>Jahresübersicht</h3>
</div>
<div class="centered-content">
  <md-select placeholder="Jahr" [(ngModel)]="myYear" (change)="onYearChanged()">    
    <md-option *ngFor="let year of yearValues" [value]="year">{{year}}</md-option>  
  </md-select>  
</div>

<div>
  <table>
    <tr><th>PId</th><th>Jan</th><th>Feb</th><th>Mar</th><th>Apr</th><th>Mai</th><th>Jun</th><th>Jul</th><th>Aug</th><th>Sep</th><th>Okt</th><th>Nov</th><th>Dez</th><th>∑</tr>
    <tr *ngFor="let p of parkplatzrows">
      <td>{{p['parkId']}}</td>
      <td>{{p['monat'][0].buch}}/{{p['monat'][0].frei}}</td>
      <td>{{p['monat'][1].buch}}/{{p['monat'][1].frei}}</td>
      <td>{{p['monat'][2].buch}}/{{p['monat'][2].frei}}</td>
      <td>{{p['monat'][3].buch}}/{{p['monat'][3].frei}}</td>
      <td>{{p['monat'][4].buch}}/{{p['monat'][4].frei}}</td>
      <td>{{p['monat'][5].buch}}/{{p['monat'][5].frei}}</td>
      <td>{{p['monat'][6].buch}}/{{p['monat'][6].frei}}</td>
      <td>{{p['monat'][7].buch}}/{{p['monat'][7].frei}}</td>
      <td>{{p['monat'][8].buch}}/{{p['monat'][8].frei}}</td>
      <td>{{p['monat'][9].buch}}/{{p['monat'][9].frei}}</td>
      <td>{{p['monat'][10].buch}}/{{p['monat'][10].frei}}</td>
      <td>{{p['monat'][11].buch}}/{{p['monat'][11].frei}}</td><td>{{p['total']}}</td>

    </tr>
  </table>
</div>

<button md-raised-button (click)="writeNewBuchung()">writeNewBuchung()</button>
<button md-raised-button (click)="writeNewUser()" >writeNewUser()</button>
<button md-raised-button (click)="getJahre()" >getJahre()</button>
<p> Passwort überprüfen:</p>
<input [(ngModel)]="testPassword">
<button md-raised-button (click)="evalPW()" >PW prüfen!</button>