/* You can add global styles to this file, and also import other style files */
body {
    background-color:#EBEBEB;
    padding-top: 5em;
}
* {
    font-family: 'Roboto';
}
a {
  color: #448aff !important;
}

.centered-content {
	display: flex;
	align-items: center;
	justify-content: center;
}

.title {
  padding: 15px 0;
  font-weight: bold;
}
